body{
    height: 100%;;
}
.bg{
    background-image: url(aa.jpg);
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.keys{
    top:20%;
    position: absolute;
    padding: 10%;
    align-items: center;
    justify-content: center;
}
.key{
    height:65px;
    width:65px;
    border:3px solid black;
    border-radius: 5px;
    margin:1rem;
    color: honeydew;
    font-size: xx-large;
    text-align: center;
    transition: all .07s;
    text-shadow: 5px black;
    background-color: rgba(0,0,0,0.5);
    float: left;
    padding:1rem 0.5rem;
    
}
.playing{
    transform: scale(1.1);
    border-color: lawngreen;
    box-shadow: 0 0 10px lawngreen;
}
kbd{
    font-size: 40px;
    display: block;
}
.sound{
    font-size: 1.0rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lawngreen;
}